body {
  background-image: url("https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
}

.application {
  border: hidden 1px black;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.6);
  max-width: 35%;
  display: block;
  margin: 100px auto;
  box-shadow: 5px 23px 40px 5px rgba(55, 103, 122, 0.9);
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}

form {
  padding: 50px 50px 0px;
}

.city {
  width: 180px;
  height: 20px;
  border-radius: 15px;
  padding: 15px;
  border: 1px solid #142d4c;
  background: #ececec;
  color: #142d4c;
}

.search-button {
  height: 50px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #142d4c;
  background: #ececec;
  color: #142d4c;
  transition: all 400ms ease-in-out;
}

.search-button:hover {
  background: #142d4c;
  color: #9fd3c7;
}

h1 {
  margin-left: 50px;
  margin-top: 55px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 40px;
}

.currentTemp {
  font-size: 42px;
  display: flex;
  margin-top: 55px;
  margin-right: 70px;
  font-weight: bold;
}

.Icon {
  margin-top: -20px;
  height: 100px;
  width: 100px;
}

h3 {
  padding: 0 50px 20px;
  margin-top: -20px;
}

.dateSection {
  font-size: 20px;
}

.weatherSection {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-top: 25px;
}

h2 {
  display: flex;
  justify-content: space-between;
  margin-right: 50px;
  margin-left: 50px;
}

.weather-forecast {
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.forecastDay,
.forecastMax {
  font-weight: bold;
}

footer {
  font-size: 12px;
  padding: 4px;
  text-align: center;
  margin-bottom: 0;
  border: hidden 1px black;
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.6);
  max-width: 35%;
  display: block;
  margin: 100px auto;
  box-shadow: 5px 23px 40px 5px rgba(55, 103, 122, 0.9);
}
